body{
    padding:0px;
    margin:0px auto;
    font-family:"微软雅黑";
    font-size:12px;
    background-color: #E9F3FD;
}

*{
    padding:0px;
    margin:0px auto;
}

a{
    text-decoration:none;
    color:cornflowerblue;
}

a:hover{
    color:red;
}

li{
    list-style-type: none;
}

img:hover {
    opacity: 0.8;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80 );
}

#loginpages {
    width: 472px;
    height: 194px;
    position: absolute;
    display: none;
    background: none repeat scroll 0 0 #E9F3FD;
    border: 1px solid #A6BFDB;
    text-align: left;
    margin:0px;
    padding:0px;
}

#smallpage {
    height: 184px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #A6C9E1;
    background: #FFF;
    position: relative;
    top: 5px;
    width: 470px;
    z-index: 20590;
}

#zcsmallpage {
    height: 310px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #A6C9E1;
    background: #FFF;
    position: relative;
    top: 5px;
    width: 362px;
    z-index: 20590;
}

#loginlogo {
    background: #FFF;
    border-color: #A6C9E1;
    cursor: move;
    position: relative;
    width: 460px;
    height: 25px;
}

#loginlogos {
    background: #FFF;
    border-color: #A6C9E1;
    cursor: move;
    position: relative;
    width: 360px;
    height: 25px;
}

.loginee {
    height: 24px;
    line-height:24px;
}

.titles {
    display: inline-block;
    padding-right: 0px;
    text-align: right;
    width: 100px;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
    font-family: "Microsoft YaHei", 宋体;
}

#smallpage dl dd {
    display: inline;
    margin-left: 30px;
    line-height: 25px;
}

#zcsmallpage dl dd {
    display: inline;
    margin-left: 30px;
    line-height: 25px;
}

#smallpage input {
    background-color: #FFFFFF;
    border: 1px solid #D5CFC2;
    font-size: 14px;
    width: 200px;
    font-weight: bold;
    vertical-align: middle;
    border-radius: 2px;
    height: 25px;
}

#zcpages #zcsmallpage input {
    background-color: #FFFFFF;
    border: 1px solid #C1E2BE;
    font-size: 14px;
    width: 200px;
    font-weight: bold;
    vertical-align: middle;
    border-radius: 2px;
    height: 25px;
}

#loginpages h2 {
    text-align: center;
    font-size: 20px;
    padding: 0px;
}

#loginpages #ids {
    margin-top: 5px;
    text-align: left;
    padding: 0px;
    color: #A6C9E1;
    font-size: 20px;
}

#zcpages #ids {
    margin-top: 0px;
    text-align: left;
    padding: 0px;
    margin-left:10px;
    color: #A6C9E1;
    font-size:16px;
}

#zcpages {
    z-index: 99999;
    width: 372px;
    height: 320px;
    position: absolute;
    display: none;
    background: none repeat scroll 0 0 #E9F3FD;
    border: 1px solid #A6BFDB;
    text-align: left;
}

#zcpages h2 {
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
}

#zcpages p {
    text-align: left;
    padding: 5px 0px 10px 45px;
    color: #C66;
}

#loginpages input {
    border: 1px solid #C1E2BE;
}

#zcpages input {
    border: 1px solid #C1E2BE;
    line-height: 100%;
}

.labelInfo {
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
    padding-right: 10px;
    text-align: right;
    width: 100px;
}

#zcpages .zcpages_mybtn {
    border: 1px solid #99F;
    padding: 2px 10px;
    margin: 10px 0px 15px 70px;
    background: #FFF;
}

* html #zcpages .zcpages_mybtn {
    border: 1px solid #99F;
    margin: 6px 0px 6px 70px;
    background: #FFF;
    width: 90px;
}

#loginpages .loginpages_mybtn {
    border: 1px solid #99F;
    padding: 2px 10px;
    margin-left: 20px;
}

#zcpages .zcpages_mybtn1 {
    border: 1px solid #99F;
    padding: 2px 10px;
    background: #FFF;
    margin-left: 20px;
}

* html #zcpages .zcpages_mybtn1 {
    border: 1px solid #99F;
    background: #FFF;
    margin-left: 20px;
    width: 50px;
}

#loginpages span {
    display: inline;
    text-align: center;
    margin-left:10px;
}

#zcpages span {
    display: inline;
    text-align: center;
}

#zcpages span {
    display: inline;
    text-align: center;
}

#common_header_1306 a {
    font-family: "微软雅黑";
}

.bg {
    background-color: #333;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity =     50);
    opacity: 0.5;
    z-index: 100;
    position: fixed !important;
    position: absolute;
    _top: expression(eval(document.compatMode &&       document.compatMode ==
		  'CSS1Compat')?
            documentElement.scrollTop+    (document.documentElement.clientHeight-this.offsetHeight
		)/2:document.body.scrollTop+    (document.body.clientHeight-
		this.clientHeight )/2 );
}

* html .bg {
    background-color: #333;
    width: 100%;
    height: 1000px;
    left: 0;
    top: 0;
    filter: alpha(opacity =     50);
    opacity: 0.5;
    z-index: 1;
    position: fixed !important;
    position: absolute;
    _top: expression(eval(document.compatMode &&       document.compatMode ==
		  'CSS1Compat')?
            documentElement.scrollTop+    (document.documentElement.clientHeight-this.offsetHeight
		)/2:document.body.scrollTop+    (document.body.clientHeight-
		this.clientHeight )/2 );
}