header{
    text-align: center;
    position: fixed;
    top:0px;
    left: 0px;
    background: #c0c0c0;
    opacity: .8;
    width:100%;
    height: 30px;
    line-height: 30px;
}

article{
    margin-top: 50px;
    width: 1400px;
    height:2000px;
    display: block;
}

article ul{
    width:100%;
}

article>ul>li{
    float:left;
    width:156px;
    text-align: center;
    background:#FFFFFF;
    margin:20px 14px;
    padding:20px 4px;
    border:2px solid snow;
    border-radius:6px;
}

article>ul>li dd{
    line-height: 24px;
}

.goods_price{
    color:red !important;
    font-weight: bold;
    font-size: 14px;
}

article>ul>li>dl>dt>img{
    width:100px;
    height:120px;
}

article>div{
    clear:both;
    text-align: center;
}

#pageInfo li,#pageInfo li a{
    display: inline-block;
    width:24px;
    height:24px;
    line-height:24px;
    padding:0px;
    font-size:14px;
}

#pageInfo li{
    margin-left:10px;
}

#pageInfo .checked{
    background: #CC6666;
    color:#fff;
}

#pageInfo .unchecked{
    background: #ccc;
}

#pageInfo li a:hover{
    background: #999;
}


/*在线客服样式区*/
.customerservice{
    position: fixed;
    right:0px;
    top:50%;
    background:#FFFFFF;
    padding:15px 10px;
}

.customertitle{
    display:inline-block;
    width:12px;
    line-height: 24px;
    word-wrap: break-word;
    float: left;
}

#showli{
    float: left;
    margin:0px 10px;
    display:none;
}

#showli li{
    line-height:24px;
}